---
import HeadCommon from '../components/HeadCommon.astro';
import { Vinyl } from '../components/Vinyl.jsx';
---

<html lang="en" class="m-0 dark">
  <head>
    <HeadCommon />
    <title>Strudel Cycler</title>
  </head>
  <body class="h-app-height bg-background m-0">
    <div>Hello there.</div>
    <Vinyl client:only="react" />
  </body>
</html>
