---
import HeadCommon from '../components/HeadCommon.astro';
import Vinyl from '../components/Vinyl.astro';
// import { NeoCyclist } from '@strudel/core/neocyclist.mjs';
---

<html lang="en" class="m-0 dark">
  <head>
    <HeadCommon />
    <title>Strudel Cycler</title>
  </head>
  <body class="h-app-height bg-background m-0">
    <Vinyl />
  </body>
</html>
