---
import HeadCommon from '../components/HeadCommon.astro';
---

<html lang="en" class="m-0 dark">
  <head>
    <HeadCommon />
    <title>Strudel Cycler</title>
  </head>
  <body class="h-app-height bg-background m-0">
    Hello
  </body>
</html>
