---
import HeadCommonNext from '../components/HeadCommonNext.astro';
import { Repl } from '../repl/Repl';
---

<html lang="en" class="dark">
  <head>
    <HeadCommonNext />
    <title>Strudel REPL</title>
  </head>
  <body class="h-app-height bg-background">
    <Repl client:only="react" />
  </body>
</html>
