---
import HeadCommon from '../components/HeadCommon.astro';
import { Repl } from '../repl/Repl';
---

<html lang="en" class="dark">
  <head>
    <HeadCommon />
    <title>Strudel REPL</title>
  </head>
  <body class="h-app-height bg-background">
    <Repl client:load />
  </body>
</html>
