---
import HeadCommon from '../components/HeadCommon.astro';
import  VanillaRepl from '../repl/VanillaRepl.astro';
---

<html lang="en" class="dark">
  <head>
    <HeadCommon />
    <title>Strudel Vanilla REPL</title>
  </head>
  <body class="h-app-height bg-background">
    <VanillaRepl />
  </body>
</html>
