---
import ReferenceLayout from '../../layouts/ReferenceLayout.astro';
import { docs } from '../../../../doc.json';
import JsDoc from '../../docs/JsDoc.astro';

export const getSynonyms = (doc) => {
  const synonyms = doc.tags?.find((t) => t.title === 'synonyms');
  if (synonyms) {
    return synonyms.text?.split(', ');
  }
  return [];
};

export function getStaticPaths() {
  let paths: any = [];
  docs.forEach((doc) => {
    paths.push({ params: { ref: doc.name } });
    const synonyms = getSynonyms(doc);
    if (synonyms) {
      synonyms.forEach((synonym) => {
        paths.push({ params: { ref: synonym } });
      });
    }
  });
  return paths;
}

const { ref } = Astro.params;
const entry = docs.find((d) => d.name === ref || getSynonyms(d).includes(ref));
if (!entry) {
  return;
}
---

<ReferenceLayout frontmatter={{ title: entry.name || 'Reference', description: '' }} headings={[]}>
  <h1>{entry!.name}</h1>
  <JsDoc name={entry.longname} />
</ReferenceLayout>
