---
import ReferenceLayout from '../../layouts/ReferenceLayout.astro';
import { docs } from '../../../../doc.json';
import JsDoc from '../../docs/JsDoc.astro';

export function getStaticPaths() {
  return docs.map((doc) => [{ params: { ref: doc.name } }]);
}

const { ref } = Astro.params;
const entry = docs.find((d) => d.name === ref);
if (!entry) {
  return;
}
---

<ReferenceLayout frontmatter={{ title: entry.name || 'Reference', description: '' }} headings={[]}>
  <h1>{entry!.name}</h1>
  <JsDoc name={entry.longname} />
</ReferenceLayout>
