---
import ReferenceLayout from '../../layouts/ReferenceLayout.astro';
---

<ReferenceLayout frontmatter={{ title: 'Reference', description: 'All functions' }} headings={[]}>
  <h1>Reference</h1>
  <p>Welcome to the Reference! Pick an Item on the left</p>
</ReferenceLayout>
