body,
html {
  margin: 0;
  height: 100%;
  background: #282c34;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  flex-grow: 1;
  max-height: 100%;
  position: relative;
  overflow: auto;
}

#editor {
  overflow: auto;
}

.cm-editor {
  height: 100%;
}

#roll {
  height: 300px;
}
