@import '@strudel.cycles/react/dist/style.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #222;
}

.darken::before {
  content: ' ';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  background: black;
  opacity: 0.5;
}
