@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #2a3236;
}

.react-codemirror2,
.CodeMirror {
  height: 100% !important;
  background-color: transparent !important;
  font-size: 15px;
  z-index:20
}

.CodeMirror-line > span {
  background-color: #2a323699;
}

.darken::before {
  content: ' ';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  background: black;
  opacity: 0.5;
}