---
import * as tunes from '../../../src/repl/tunes.mjs';
import HeadCommon from '../../components/HeadCommon.astro';

import { getMetadata } from '../metadata_parser';
---

<head>
  <HeadCommon />
</head>
<body class="bg-slate-800">
  <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-2 p-2 select-none">
    {
      Object.entries(tunes).map(([name, tune]) => (
        <a class="rounded-md bg-slate-900 hover:bg-slate-700 cursor-pointer relative" href={`./#${btoa(tune)}`}>
          <div class="absolute w-full h-full flex justify-center items-center">
            <span class="bg-slate-800 p-2 rounded-md text-white">{getMetadata(tune)['title'] || name}</span>
          </div>
          <img src={`./img/example-${name}.png`} />
        </a>
      ))
    }
  </div>
</body>
