---
import * as tunes from '../../../src/repl/tunes.mjs';
import HeadCommon from '../../components/HeadCommon.astro';

import { getMetadata } from '../../metadata_parser';

const { BASE_URL } = import.meta.env;
const baseNoTrailing = BASE_URL.endsWith('/') ? BASE_URL.slice(0, -1) : BASE_URL;
---

<head>
  <HeadCommon />
</head>
<body class="bg-slate-800">
  <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-2 p-2 select-none">
    {
      Object.entries(tunes).map(([name, tune]) => (
        <a
          class="rounded-md bg-slate-900 hover:bg-slate-700 cursor-pointer relative block w-full h-[160px]"
          href={`${baseNoTrailing}/#${btoa(tune)}`}
        >
          <div class="absolute w-full h-full flex justify-center items-center">
            <span class="bg-slate-800 p-2 rounded-md text-white">{getMetadata(tune)['title'] || name}</span>
          </div>
        </a>
      ))
    }
  </div>
</body>
../../metadata_parser
