---
import HeadCommon from '@components/HeadCommon.astro';
import { Udels } from '../../components/Udels/Udels.jsx';
---

<html lang="en" class="m-0">
  <head>
    <HeadCommon />
    <title>Strudel UDELS</title>
  </head>
  <body class="m-0">
    <Udels client:only="react" />
  </body>
</html>
