:root {
  --background: #222;
  --lineBackground: #22222299;
  --foreground: #fff;
  --caret: #ffcc00;
  --selection: rgba(128, 203, 196, 0.5);
  --selectionMatch: #036dd626;
  --lineHighlight: #00000050;
  --gutterBackground: transparent;
  --gutterForeground: #8a919966;
}

.cm-editor {
  background-color: transparent !important;
  height: 100%;
  z-index: 11;
}

.cm-theme {
  width: 100%;
  height: 100%;
}

.cm-theme-light {
  width: 100%;
}

footer {
  z-index: 0 !important;
}

.strudel-tooltip {
  padding: 5px;
}
