.mini-repl .cm-activeLine,
.mini-repl .cm-activeLineGutter {
  background-color: transparent !important;
}

.mini-repl .cm-theme {
  background-color: var(--background);
  border: 1px solid var(--lineHighlight);
  padding: 2px;
}

.mini-repl .cm-scroller {
  font-family: inherit !important;
}

.mini-repl .cm-gutters {
  display: none !important;
}

.mini-repl .cm-cursorLayer {
  animation-name: inherit !important;
}

.mini-repl .cm-cursor {
  border-left: 2px solid currentcolor !important;
}
