.cm-activeLine,
.cm-activeLineGutter {
  background-color: transparent !important;
}

.cm-theme {
  background-color: var(--background);
  border: 1px solid var(--lineHighlight);
  padding: 2px;
}

.cm-scroller {
  font-family: inherit !important;
}

.cm-gutters {
  display: none !important;
}

.cm-cursorLayer {
  animation-name: inherit !important;
}

.cm-cursor {
  border-left: 2px solid currentcolor !important;
}
