body,
input {
  font-family: monospace;
  background-color: black;
  color: white;
}

input,
select {
  background-color: black !important;
}

html,
body,
#code,
.cm-editor,
.cm-scroller {
  padding: 0;
  margin: 0;
  height: 100%;
}

.settings {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  display: flex-col;
  padding: 10px;
}

.settings > form > * + * {
  margin-top: 10px;
}
