---
import LightBulbIcon from '@heroicons/react/20/solid/LightBulbIcon';
//import MusicalNoteIcon from '@heroicons/react/20/solid/MusicalNoteIcon';
---

<div class="py-1 px-6 pr-10 bg-lineHighlight relative mb-4">
  <div><slot /></div>
  <LightBulbIcon className="w-5 h-5 absolute top-4 right-4" />
  <!-- <MusicalNoteIcon className="w-5 h-5 absolute top-4 right-4" /> -->
</div>
