---
/*
Vinyl.astro - <short description TODO>
Copyright (C) 2025 Strudel contributors - see <https://github.com/tidalcycles/strudel/blob/main/repl/src/App.js>
This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details. You should have received a copy of the GNU Affero General Public License along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

import { setInterval, clearInterval } from 'worker-timers';
import { NeoCyclist } from '@strudel/core/neocyclist.mjs';
import { getAudioContext } from '@strudel/webaudio';

const schedulerOptions = {
  onTrigger: (x) => {},
  getTime: () => getAudioContext().currentTime,
  onToggle: (started) => console.log('started: ', started),
  setInterval,
  clearInterval,
  // beforeStart,
};
const cyclist = new NeoCyclist(schedulerOptions);

const record = document.getElementById('record');

if (record) {
  record.onclick = () => {
    if (!cyclist.started) {
      cyclist.start();
    }
    console.log('aha', cyclist.getTime(), cyclist.cycle);
    cyclist.setPattern(saw.segment(16));
  };
}
---

<script>
  let ticks = 0;
  const timer = setInterval(function () {
    const record = document.getElementById('record');
    const deg = ticks % 360;
    record.style.webkitTransform = 'rotate(' + deg + 'deg)';
    record.style.mozTransform = 'rotate(' + deg + 'deg)';
    record.style.msTransform = 'rotate(' + deg + 'deg)';
    record.style.oTransform = 'rotate(' + deg + 'deg)';
    record.style.transform = 'rotate(' + deg + 'deg)';
    ticks++;
  }, 50);
</script>
<div id="record" style="font-size: 20em"><center>💿</center></div>
