---
import { MicroRepl } from '../../docs/MicroRepl'
---

<html lang="en" class="dark">
  <head>
    <title>Strudel Micro REPL</title>
    <script src="@strudel/repl"></script>
  </head>
  <body>
    <div class="p-4">
      <p>MicroRepl:</p>
      <MicroRepl client:load code={`n(run(4).sub(4))
        .chord("<C^7#11 E^7#11>/16")
        .dict('ireal')
        .voicing()
        .when("<1 0> 0@3", sub(note(12)))
        .add(note("[12 | 0]*4"))
        .attack(slider(0.511))
        .decay(slider(0.466))
        .sustain(slider(0.398))
        .release(slider(0.443))
        .s('sawtooth')
        .lpa(sine.range(.1,.25).slow(12))
        .lpenv(sine.range(0,4).slow(16))
        .lpf(perlin.range(400,1000))
        .add(note(perlin.range(0,.25)))
        .vib(4).vibmod(.1)
        .room(.75).size(8)`} />
    </div>
  </body>
</html>
