<html lang="en" class="dark">
  <head>
    <title>Strudel Vanilla REPL</title>
    <script src="@strudel/repl"></script>
  </head>
  <body>
    <p>This is a REPL:</p>
    <strudel-editor 
    keybindings="emacs" 
    is-line-numbers-displayed="1" 
    is-active-line-highlighted="1" 
    is-auto-completion-enabled="1"
    is-pattern-highlighting-enabled="1"
    is-flash-enabled="1"
    is-tooltip-enabled="1"
    is-line-wrapping-enabled="1"
    theme="strudelTheme"
    font-family="monospace"
    font-size="18"
    code={`s("bd")`}></strudel-editor>

    <p>This is another REPL:</p>
    <strudel-editor is-line-numbers-displayed="0"><!--
n(run(4).sub(4))
  .chord("<C^7#11 E^7#11>/16")
  .dict('ireal')
  .voicing()
  .when("<1 0> 0@3", sub(note(12)))
  .add(note("[12 | 0]*4"))
  .attack(slider(0.511))
  .decay(slider(0.466))
  .sustain(slider(0.398))
  .release(slider(0.443))
  .s('sawtooth')
  .lpa(sine.range(.1,.25).slow(12))
  .lpenv(sine.range(0,4).slow(16))
  .lpf(perlin.range(400,1000))
  .add(note(perlin.range(0,.25)))
  .vib(4).vibmod(.1)
  .room(.75).size(8) 
--></strudel-editor>
  </body>
</html>
