---
import HeadCommonNew from '../../components/HeadCommonNew.astro';
---


<html lang="en" class="dark">
  <head>
    <!-- <HeadCommonNew /> -->
    <title>Strudel Vanilla REPL</title>
    <script src="@strudel/repl"></script>
  </head>
  <body class="h-app-height">
    <h1>vanilli repl</h1>
    <p>This is a REPL:</p>
    <strudel-editor 
    keybindings="emacs" 
    is-line-numbers-displayed="1" 
    is-active-line-highlighted="1" 
    is-auto-completion-enabled="1"
    is-pattern-highlighting-enabled="1"
    is-flash-enabled="1"
    is-tooltip-enabled="1"
    is-line-wrapping-enabled="1"
    theme="teletext"
    font-family="monospace"
    font-size="18"
    code={`s("bd")`}></strudel-editor>

    <p>This is another REPL:</p>
    <strudel-editor code={`s("hh*4")`}></strudel-editor>
  </body>
</html>
