@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #222;
  --lineBackground: #22222250;
  --foreground: #fff;
  --caret: #ffcc00;
  --selection: rgba(128, 203, 196, 0.5);
  --selectionMatch: #036dd626;
  --lineHighlight: #00000050;
  --gutterBackground: transparent;
  --gutterForeground: #8a919966;
}

body {
  background: #123;
}
