---
import TableOfContents from './TableOfContents';
import MoreMenu from './MoreMenu.astro';
import type { MarkdownHeading } from 'astro';
import AvatarList from '../Footer/AvatarList.astro';

type Props = {
  headings: MarkdownHeading[];
  githubEditUrl?: string;
};

const { headings, githubEditUrl } = Astro.props as Props;
let currentPage = Astro.url.pathname;
// remove slash before #
currentPage = currentPage.endsWith('/') ? currentPage.slice(0, -1) : currentPage;
---

<nav aria-labelledby="grid-right" class="w-64 text-foreground">
  <TableOfContents client:media="(min-width: 50em)" headings={headings} currentPage={currentPage} />
  <MoreMenu editHref={githubEditUrl} />
  <!-- <AvatarList path={currentPage} /> -->
</nav>
