---
import TableOfContents from './TableOfContents';
import MoreMenu from './MoreMenu.astro';
import type { MarkdownHeading } from 'astro';

type Props = {
  headings: MarkdownHeading[];
  githubEditUrl: string;
};

const { headings, githubEditUrl } = Astro.props as Props;
const currentPage = Astro.url.pathname;
---

<nav aria-labelledby="grid-right">
  <TableOfContents client:media="(min-width: 50em)" headings={headings} currentPage={currentPage} />
  <MoreMenu editHref={githubEditUrl} />
</nav>
